@import url("https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  font-family: "Dosis", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: rgb(252, 200, 252);
}

main {
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  margin-bottom: 6px;
}

.header,
main {
  background-color: rgb(240, 239, 239);
  padding: 0 15px;
}

.header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 20px;
  opacity: 0.6;
}

.screen {
  width: 400px;
  font-weight: 700;
  background-color: rgb(240, 239, 239);
  padding: 15px 20px 15px 20px;
  position: relative;
  border-radius: 42px;
  box-shadow: 10px 10px 8px #ffffff inset, -10px -10px 8px #cccccc inset,
    15px 15px 25px #aaaaaa;
}

.choice-header .view {
  color: red;
  font-size: 12px;
}
.menu-choice {
  width: 100%;
  font-size: 15px;
  margin-bottom: 25px;
}

.menu-choice .choice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.menu-choice .choice-photo {
  width: 100%;
}

.top__photos {
  display: flex;
  margin-bottom: 10px;
}

.bottom_photos {
  display: flex;
}

.top-one {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.15) 25%,
      rgba(20, 20, 20, 0.25) 50%,
      rgba(20, 20, 20, 0.5) 75%,
      rgba(20, 20, 20, 0.75) 100%
    ),
    url("../images/1.jpg");
  width: 200px;
  height: 150px;
  margin-right: 12px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}
.top-two {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.15) 25%,
      rgba(20, 20, 20, 0.25) 50%,
      rgba(20, 20, 20, 0.5) 75%,
      rgba(20, 20, 20, 0.75) 100%
    ),
    url("../images/2.jpg");
  width: 200px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}
.bottom-one {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.15) 25%,
      rgba(20, 20, 20, 0.25) 50%,
      rgba(20, 20, 20, 0.5) 75%,
      rgba(20, 20, 20, 0.75) 100%
    ),
    url("../images/3.jpg");
  width: 200px;
  height: 150px;
  margin-right: 12px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}
.bottom-two {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.15) 25%,
      rgba(20, 20, 20, 0.25) 50%,
      rgba(20, 20, 20, 0.5) 75%,
      rgba(20, 20, 20, 0.75) 100%
    ),
    url("../images/4.jpg");
  width: 200px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}
.top-one,
.top-two,
.bottom-one,
.bottom-two {
  height: 120px;
}

.recipes {
  width: 100%;
  padding-bottom: 7px;
}

.recipes-header {
  margin-bottom: 20px;
}

.recipes .recipes-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 5px;
  height: 70px;
  align-items: center;
  padding: 0 15px;
}

.recipes-list:nth-last-child(1) {
  box-shadow: 0px 1px 3px 5px rgb(219, 219, 219);
}

ul,
li {
  list-style: none;
}

.nav {
  background-color: white;
  width: 360px;
  height: 80px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 0px 6px;
}

.nav i {
  opacity: 0.5;
}

.left-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 3px;
}

.left-dis {
  font-size: 12px;
  opacity: 0.5;
}

.right i {
  color: red;
}

.nav .nav__list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.list-icon {
  font-size: 22px;
}

.list-icon:nth-child(2) {
  color: red;
}
